body
{
 background-color: green
}

.elem{
  margin-top:50px;
}
.hidden {
  display:none;
}
.card-inner {
  border: 3px solid black;
  padding: 3%;
  margin: 1%;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  text-align: center;
}

.burst-8 {
    background: red;
    width: 100px;
    height: 100px;
    position: relative;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    -webkit-transform: rotate(20deg);
       -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
         -o-transform: rotate(20eg);
}
.burst-8:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100px;

    background: red;
    -webkit-transform: rotate(135deg);
       -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
         -o-transform: rotate(135deg);
}

.spin {
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}
@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(1800deg);}
}
