@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body
{
 background-image: url("../assets/bg-pattern.png");
 font-family: 'Montserrat', sans-serif;
 color: #666666;
}

.helpline{
  text-align:center;
  color: #7F204B;
  font-size:2.5em;
  position:relative;
  bottom:73%;
}

.elem{
  margin-top:50px;
  margin-left:auto;
  margin-right:auto;
  height: 175px;
  width: 175px;
}
.hidden {
  display:none;
}
.card-inner {
  border: 5px solid #B3B3B3;
  padding: 3%;
  margin: 2% auto;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  text-align: center;
  max-width: 400px;
  height: 550px;
  }

.card-content {
	color: #666666;
	font-size: 20px;
	line-height: 1.5;
}

h1 {
	color: #146482;
	font-weight: bold;
}

.burst-8 {
    z-index: -1;
    background: #CE0B64;
    width: 175px;
    height: 175px;
    position: relative;
    text-align: center;
    margin-top: 15%;
    margin-left:auto;
    margin-right:auto;
    -webkit-transform: rotate(20deg);
       -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
         -o-transform: rotate(20deg);
}
.burst-8:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 175px;
    width: 175px;

    background: #CE0B64;
    -webkit-transform: rotate(135deg);
       -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
         -o-transform: rotate(135deg);
}

.spin {
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}
@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(1800deg);}
}

.btn-primary.active {
	margin-top: 10%;
}

@media only screen 
and (min-device-width : 399px) 
and (max-device-width : 699px)  {
 .card-inner {
	 width: 300px;
	 height: 400px;
 }
 }
